@import "tailwindcss";


@layer base {
  body {
    background-color: oklch(0.145 0 0);
    color: oklch(0.985 0 0);
    
  }
 body{
@apply overflow-x-hidden;
 } 


}

html {
  scroll-behavior: smooth;
}